spring:
  data:
    redis:
      host: localhost
      port: 6379
  application:
    name: gateway
  config:
    import: "configserver:http://user:nimadirxavfsizlik@localhost:8888/"
  profiles:
    active: local
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG